@charset "utf-8";

* { margin:0; padding:0; }

hr {
	background-image: url(../img/hr.gif);
	height: 3px;
	border: 0;
}

html, body { height:100%; }

body {
	text-align: center;
	color: #333;
	background-color: #fef4e9;
}

#container {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

header {
	margin-top: 10%;
}

header h1 { display:none; }

header #sub {
	background-image: url(../img/home/header_sub.gif);
	height: 100px;
}

header #headers {
	position: relative;
	height: 250px;
}

header #headers div {
	height: 184px;
	width: 160px;
	position: absolute;
	top: 0;
}

#header_1 { left:  0px; background-image: url(../img/home/header_1.gif); }
#header_2 { left:160px; background-image: url(../img/home/header_2.gif); }
#header_3 { left:320px; background-image: url(../img/home/header_3.gif); }
#header_4 { left:480px; background-image: url(../img/home/header_4.gif); }
#header_5 { left:640px; background-image: url(../img/home/header_5.gif); }

nav {
	position: relative;
	margin: 80px 0;
	height: 60px;
}

nav ul li {
	list-style-type: none;
	position: absolute;
	top: 0;
}

nav ul li a { display:block; }
nav ul li a span { display:none; }
nav ul li a:link, nav ul li a:visited { background-position:top; }
nav ul li a:hover, nav ul li a:active { background-position:bottom; }

#research { left:0; }
#research a { width:175px; height:40px; background-image:url(../img/home/nav_research.gif); }

#introduction { left:250px; }
#introduction a { width:212px; height:40px; background-image:url(../img/home/nav_introduction.gif); }

#lecture { right:0;  }
#lecture a { width:249px; height:60px; background-image:url(../img/home/nav_lecture.gif); }
